.product{
    height: 510px;
    width: 300px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
    position: relative;
}
.product img{
    height: 286px;
    width: 286px;
    margin: 7px;
    border-radius: 8px;
    
}
.product-info{
    margin-left: 10px;
}
.product-info p{
    margin: 0px;
}
.crt-btn{
    position: absolute;
    bottom: 0;
    background-color: #ffe0b3 ;
    width: 100%;
    border-radius: 0 0 8px 8px;
}
.crt-btn:hover{
    background-color: orange;
}